<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Visca El Barca!</title>

  <!-- Vender -->
  <link rel="stylesheet" href="./vender/bootstrap.min.css">
  <script src="./vender/vue.min.js"></script>
  <script>
    window.$ = require("./vender/jquery-3.2.1.min.js")
  </script>

  <!-- App -->
  <link rel="stylesheet" href="./app/app.css">

</head>

<body>
  <div class="container" id="app">
    <div class="container-fluid">
      <!-- Banner -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Next Match</h3>
        </div>
        <div class="btn" id="banner"><img src="./app/img/loading_banner.gif">{{banner}}</div>
      </div>

      <ul class="nav nav-tabs">
        <li @click="switchTab('ranking')" :class="{active: rankingActive}"><a href="#">Ranking</a></li>
        <li @click="switchTab('players')" :class="{active: playersActive}"><a href="#">Players</a></li>
      </ul>

      <!-- Ranking -->
      <div class="panel" v-if="ranking_grid">
        <div class="panel-body">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th v-for="th in ranking_title">{{th}}</th>
              </tr>
            </thead>
            <tbody id="ranking">
              <tr v-for="row in ranking_list">
                <td v-for="td in row">{{td}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Players -->
      <div class="panel" v-if="players_grid">
        <div class="panel-body">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th v-for="th in players_title">{{th}}</th>
              </tr>
            </thead>
            <tbody id="players">
              <tr v-for="row in player_list">
                <td v-for="td in row">{{td}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
  <script>
    require("./app/render.js")
  </script>
</body>

</html>